@using TaskManager.Models
@using Status = TaskManager.Models.Status
@using Priority = TaskManager.Models.Priority
@using System.Text.Json

@attribute [StreamRendering]

@inject NavigationManager navigation
@inject NotificationService notificationService
@inject IJSRuntime javascript

@page "/task"
@page "/task/{TaskId}"

@rendermode InteractiveServer

<h3>Create Task</h3>

<RadzenStack Orientation="Orientation.Vertical">
    <RadzenLabel Component="TaskTitle" Text="Title" />
    <RadzenTextBox Name="TaskTitle" Change=@(args => Title = args) />

    <RadzenLabel Component="TaskDescription" Text="Description" />
    <RadzenTextArea Name="TaskDescription" Change=@(args => Description = args) />

    <RadzenLabel Component="TaskCreatedBy" Text="Created By" />
    <RadzenTextBox Name="TaskCreatedBy" Change=@(args => CreatedBy = args) />

    <RadzenLabel Component="TaskPriority" Text="Priority" />
    <RadzenDropDown Name="TaskPriority" TValue="@Priority" Data="@Priorities" Change=@(args => Priority = (Priority)args) Value=@Priority />

    <RadzenLabel Component="TaskStatus" Text="Status" />
    <RadzenDropDown Name="TaskStatus" TValue="@Status" Data="@Statuses" Change=@(args => Status = (Status)args) Value=@Status />

    <RadzenButton Click="@SaveChanges">@(TaskId == null ? "Save" : "Update")</RadzenButton>
</RadzenStack>


@code {
    readonly string TasksKeyword = "TaskManagerData";

    List<TaskTicket> Tasks = [];
    readonly IEnumerable<Status> Statuses = [Status.NotStarted, Status.InProgress, Status.Done, Status.Blocked];
    readonly IEnumerable<Priority> Priorities = [Priority.Unassigned, Priority.Low, Priority.Medium, Priority.High];

    [Parameter]
    public int? TaskId { get; set; }

    // Task Property Values
    public Priority Priority { get; set; } = Priority.Unassigned;
    public string Title { get; set; } = string.Empty;
    public string Description { get; set; } = string.Empty;
    public string CreatedBy { get; set; } = string.Empty;
    public Status Status { get; set; } = Status.NotStarted;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            bool hasProperty = await javascript.InvokeAsync<bool>("localStorage.hasOwnProperty", TasksKeyword);

            if (hasProperty)
            {
                var json = await javascript.InvokeAsync<string>("localStorage.getItem", TasksKeyword);
                Tasks = JsonSerializer.Deserialize<List<TaskTicket>>(json) ?? [];
            }

            if (TaskId != null && Tasks.Any(task => task.Id == TaskId))
            {
                TaskTicket existing = Tasks.First(task => task.Id == TaskId);

                Priority = existing.Priority;
                Title = existing.Title;
                Description = existing.Description;
                CreatedBy = existing.CreatedBy;
            }
        }
    }

    public bool Validate()
    {
        bool valid = true;
        if (string.IsNullOrWhiteSpace(Title))
        {
            notificationService.Notify(NotificationSeverity.Warning, "Invalid Title", "Please enter a Title.", 5000);
            valid = false;
        }
        if (Priority == Priority.Unassigned)
        {
            notificationService.Notify(NotificationSeverity.Warning, "Invalid Priority", "Please assign a Priority.", 5000);
            valid = false;
        }
        return valid;
    }

    public async Task SaveChanges()
    {
        try
        {
            if (!Validate())
            {
                return;
            }

            if (TaskId != null && Tasks.Any(task => task.Id == TaskId))
            {
                TaskTicket existing = Tasks.First(task => task.Id == TaskId);
                int index = Tasks.IndexOf(existing);
                Tasks[index] = new()
                {
                    Id = TaskId.Value,
                    Title = Title,
                    Description = Description,
                    Priority = Priority,
                    Status = Status,
                    CreatedBy = existing.CreatedBy,
                    CreatedOn = existing.CreatedOn
                };
            }
            else
            {
                TaskTicket added = new()
                {
                    Id = Tasks.Select(task => task.Id).DefaultIfEmpty(0).Max() + 1,
                    Title = Title,
                    Description = Description,
                    Priority = Priority,
                    Status = Status,
                    CreatedBy = CreatedBy,
                    CreatedOn = DateTime.Now
                };
                Tasks.Add(added);

                TaskId = added.Id;
            }

            var json = JsonSerializer.Serialize(Tasks);
            await javascript.InvokeVoidAsync("localStorage.setItem", TasksKeyword, json);

            notificationService.Notify(NotificationSeverity.Success, "Task Saved", $"Task \"{Title}\" has been saved successfully.");

            navigation.NavigateTo("/");
        }
        catch (Exception ex)
        {
            notificationService.Notify(NotificationSeverity.Error, "Error", $"Failed to save task. Error message: {ex.Message}");
        }

    }
}